/* Stylesheet css for fourthirty limited. 
Coded by Edgar Wanjala Wafula */

/* ----------------------------------------- 
--> General Styles -----------------------*/
body {
	font-family: 'Open Sans', sans-serif;
}

i, .social ul li{
    cursor: pointer;
}

/* --------------------------------------------- 
--> Footer -----------------------------------*/
footer {
	padding: 50px 0px;
	border-top: 1px solid #e7e7e7;
}

footer .social li {
    flex-grow: 1; 
    text-align: center; 
}

footer .social li:hover i{
    animation: toBottomFromTop 0.3s forwards;
}

.social li i{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px; 
}

/* ----------------------------------------- 
--> Keyframes ----------------------------*/